@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #2D3440;
  background-color: #FEAFC3;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1270px;
  padding: 0 50px;
  margin: 0 auto;
}

.header-button {
  display: block;
  background-color: rgba(252, 252, 252, 0.3);
  color: #2D3440;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  min-width: 32px;
  min-height: 32px;
  padding: 6px 16px;
  margin-right: 16px;
  border-radius: 30px;
}

.header-button:first-child {
  border-radius: 27px;
}

.header-button:last-child {
  margin-right: 0;
}

.button-white {
  display: inline-block;
  font-family: inherit;
  background-color: #FCFCFC;
  font-weight: 700;
  color: #2D3440;
  line-height: 20px;
  padding: 12px 32px;
  border-radius: 26px;
  outline-width: 4px;
  outline-style: solid;
  outline-color: rgba(252, 252, 252, 0.4);
  text-align: center;
  text-decoration: none;
}

.button-pink {
  display: inline-block;
  font-family: inherit;
  background-color: #FF2F64;
  color: #FCFCFC;
  text-decoration: none;
  font-weight: 700;
  line-height: 20px;
  padding: 12px 32px;
  border-radius: 26px;
  outline-width: 4px;
  outline-style: solid;
  outline-color: rgba(255, 47, 100, 0.3);
  text-align: center;
}

.product-card-button {
  display: inline-block;
  background-color: #FF2F64;
  min-width: 32px;
  min-height: 32px;
  border-radius: 26px;
}

.button-catalog-filter {
  background-color: rgba(252, 252, 252, 0.3);
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

.header-links {
  display: flex;
  margin: 0 auto;
}

.header-links-left {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 24px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 530px;
  margin: 0;
  margin-left: 16px;
  padding: 0;
  list-style-type: none;
}

.header-links-right {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 500px;
  margin-left: auto;
  margin-top: 36px;
  margin-bottom: 36px;
}

.navigation-link {
  display: block;
  padding: 8px 16px;
  color: #2D3440;
  line-height: 20px;
  text-decoration: none;
}

.catalog-menu-list {
  background-color: #FCFCFC;
  width: 135px;
  min-height: 188px;
  border-radius: 4px;
}

.catalog-menu-link {
  color: #2D3440;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
}

.catalog-new-link {
  font-weight: 700;
}

.header-phone-link {
  display: block;
  color: #2D3440;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-right: 16px;
}

.popup-search-form {
  background-color: #FCFCFC;
  width: 356px;
  min-height: 96px;
  border-radius: 4px;
}

.popup-entry-form {
  background-color: #FCFCFC;
  width: 420px;
  min-height: 350px;
  border-radius: 4px;
}

.basket-empty {
  background-color: #FCFCFC;
  width: 288px;
  min-height: 156px;
  border-radius: 4px;
}

.basket-full {
  background-color: #FCFCFC;
  width: 441px;
  min-height: 382px;
  border-radius: 4px;
}

header input {
  font-family: inherit;
}

.popup-entry-name {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.entry-link {
  color: #2D3440;
  font-size: 14px;
  line-height: 20px;
}

.basket-empty-name {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
}

.basket-full-name {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.main-container {
  flex-grow: 1;
}

.slide {
  display: flex;
}

.slide-content-name {
  width: 470px;
  margin-top: 136px;
  margin-bottom: 24px;
  margin-left: 70px;
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
}

.slide-content-text {
  width: 414px;
  margin-bottom: 48px;
  margin-left: 70px;
  font-size: 18px;
  line-height: 24px;
}

.slider-button {
  margin-bottom: 138px;
  margin-left: 70px;
}

.main-headlines {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
}

.promo-container {
  display: flex;
  justify-content: space-between;
}

.promo-offer {
  background-color: #FF7799;
  width: 570px;
  min-height: 268px;
  border-radius: 16px;
}

.offer-raspberry {
  background-image: url("../images/promo/promo-raspberry.png");
  background-repeat: no-repeat;
  background-position: right;
}

.offer-marshmallow {
  background-image: url("../images/promo/promo-marshmallow.png");
  background-repeat: no-repeat;
  background-position: right;
}

.promo-offer-name {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.promo-offer-text {
  line-height: 22px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.product-card {
  background-color: #FCFCFC;
  width: 100%;
  min-height: 281px;
  border-radius: 8px;
}

.product-card-image {
  border-radius: 50%;
}

.product-card-link {
  color: #2D3440;
  text-decoration: none;
  text-align: center;
}

.product-card-name {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

.product-card-price {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.advantages-wrapper {
  background-image: url("../images/backgrounds/background-waffle.png");
  background-color: #FCFCFC;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
}

.advantages-wrapper-white {
  background-color: #FCFCFC;
  width: 1122px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 16px;
}

.advantages-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.advantages-item {
  width: 505px;
}

.news-subscription {
  display: flex;
  justify-content: space-between;
  margin: 80px auto;
}

.news {
  background-image: url("../images/backgrounds/background-blog.jpg");
  background-color: #FCFCFC;
  width: 570px;
  min-height: 224px;
  border-radius: 16px;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.news-name {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.news-text {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.subscription {
  background-image: url("../images/backgrounds/background-subscription.png");
  background-color: #FCFCFC;
  background-repeat: no-repeat;
  width: 570px;
  min-height: 224px;
  border-radius: 16px;
  background-size: cover;
}

.subscription-wrapper {
  background-color: #FFFFFF;
  width: 558px;
  min-height: 212px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 16px;
}

.subscription input {
  font-family: inherit;
}

.delivery-wrapper {
  display: flex;
  justify-content: space-between;
  background-image: url("../images/backgrounds/background-delivery.jpg");
  background-color: #FCFCFC;
  background-repeat: no-repeat;
  min-height: 534px;
  border-radius: 16px;
  background-size: cover;
  background-position: center;
}

.delivery-content {
  width: 371px;
  margin-left: 100px;
}

.delivery-content-name {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
}

.delivery-forms {
  background-color: #FCFCFC;
  width: 500px;
  min-height: 406px;
  margin: 64px;
  border-radius: 8px;
}

.delivery input {
  font-family: inherit;
}

.form-label {
  font-weight: 700;
  line-height: 20px;
}

.contacts-wrapper {
  display: flex;
  justify-content: space-between;
  background-image: url("../images/backgrounds/background-address.jpg");
  background-color: #FCFCFC;
  background-repeat: no-repeat;
  min-height: 492px;
  border-radius: 16px;
  background-size: cover;
  background-position: center;
}

.contacts-wrapper-white {
  background-color: #FCFCFC;
  width: 343px;
  min-height: 364px;
  margin: 64px;
  margin-right: 763px;
  border-radius: 8px;
}

.contacts-name {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.contacts-address {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.contacts-phone {
  color: #2D3440;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.contacts-phone-text {
  font-size: 14px;
  line-height: 20px;
}

.page-footer {
  display: flex;
  margin-top: auto;
}

.social-list {
  width: 105px;
  margin-left: 4px;
  margin-right: 299px;
}

.link-item {
  color: #2D3440;
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
}

.suppliers{
  font-weight: 700;
}

.footer-copyright {
  max-width: 195px;
  margin: 48px;
  margin-right: 14px;
  margin-left: auto;
}

.footer-copyright-text {
  font-size: 12px;
  line-height: 16px;
}

.footer-copyright-link {
  color: #2D3440;
}

.inner-header-name {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
}

.breadcrumbs-link {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
  text-decoration: none;
}

.breadcrumbs-catalog {
  text-decoration: underline;
}

.catalog-products {
  display: flex;
  flex-direction: column;
}

.catalog-filter {
  width: 825px;
  margin-left: 98px;
}

.catalog-filter-name {
  font-size: 14px;
  line-height: 20px;
}
.control {
  font-size: 14px;
  line-height: 20px;
}

.pagination-link {
  color: #2D3440;
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
}

.pagination-current {
  background-color: #FCFCFC;
}
