@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #2D3440;
  background-color: #FEAFC3;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1270px;
  padding: 0 50px;
  margin: 0 auto;
}

.header-button {
  display: block;
  position: relative;
  background-color: rgba(252, 252, 252, 0.3);
  color: #2D3440;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  min-width: 32px;
  min-height: 32px;
  padding: 6px 16px;
  margin: 0 16px 0 0;
  border-radius: 30px;
}

.header-button:first-child {
  border-radius: 27px;
}

.header-button:last-child {
  margin: 0;
}

.header-button-svg {
  padding-left: 38px;
}

.header-button-svg .navigation-icon {
  right: auto;
  left: 16px;
  margin: auto 0;
}

.button-white {
  display: inline-block;
  font-family: inherit;
  background-color: #FCFCFC;
  font-weight: 700;
  color: #2D3440;
  line-height: 20px;
  padding: 12px 32px;
  border-radius: 26px;
  border: 4px solid rgba(252, 252, 252, 0.4);
  background-clip: padding-box;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.button-pink {
  display: inline-block;
  font-family: inherit;
  background-color: #FF2F64;
  color: #FCFCFC;
  text-decoration: none;
  font-weight: 700;
  line-height: 20px;
  padding: 12px 32px;
  border-radius: 26px;
  border: 4px solid rgba(255, 47, 100, 0.3);
  background-clip: padding-box;
  text-align: center;
  cursor: pointer;
}

.product-card-button {
  display: inline-block;
  background-color: #FF2F64;
  width: 32px;
  height: 32px;
  border-radius: 26px;
  cursor: pointer;
  position: relative;
}

.button-catalog-filter {
  background-color: rgba(252, 252, 252, 0.3);
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
}

.slider-control-button {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: rgba(252, 252, 252, 0.3);
  border: 2px solid #FCFCFC;
  cursor: pointer;
}

.slider-prev {
  position: relative;
}

.slider-next {
  position: relative;
}

.slider-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #FCFCFC;
}

.slider-pagination-button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #FCFCFC;
  border: none;
  margin: 0 8px 0 0;
  opacity: 0.4;
}

.slider-pagination-button:last-child {
  margin: 0;
}

.slider-pagination-button.is-active {
  opacity: 1;
}

.header-links {
  display: flex;
  margin: 24px auto;
}

.header-links-left {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 530px;
  margin: 0;
  padding: 0 0 0 16px;
  list-style-type: none;
}

.header-links-right {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 500px;
  margin-left: auto;
}

.navigation-link {
  display: block;
  padding: 8px 16px;
  color: #2D3440;
  line-height: 20px;
  text-decoration: none;
  cursor: pointer;
}

.navigation-link:hover {
  background-color: rgba(252, 252, 252, 0.5);
  border-radius: 30px;
}

.navigation-link:active {
  background-color: #FCFCFC;
  border-radius: 30px;
}

.navigation-link:focus {
  background-color: rgba(252, 252, 252, 0.5);
  border-radius: 30px;
  border: 2px solid #2D3440;
  outline: none;
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;
}

.catalog-menu-list {
  display: none;
  background-color: #FCFCFC;
  width: 135px;
  min-height: 188px;
  border-radius: 4px;
}

.catalog-menu-link {
  color: #2D3440;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
}

.catalog-new-link {
  font-weight: 700;
}

.header-phone-link {
  display: block;
  color: #2D3440;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
  padding: 6px 0;
  margin: 0 16px 0 0;
}

.popup-search-form {
  display: none;
  background-color: #FCFCFC;
  width: 356px;
  min-height: 96px;
  border-radius: 4px;
}

.popup-entry-form {
  display: none;
  background-color: #FCFCFC;
  width: 420px;
  min-height: 350px;
  border-radius: 4px;
}

.basket-empty {
  display: none;
  background-color: #FCFCFC;
  width: 288px;
  min-height: 156px;
  border-radius: 4px;
}

.basket-full {
  display: none;
  background-color: #FCFCFC;
  width: 441px;
  min-height: 382px;
  border-radius: 4px;
}

header input {
  font-family: inherit;
}

.popup-entry-name {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.entry-link {
  color: #2D3440;
  font-size: 14px;
  line-height: 20px;
}

.basket-empty-name {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
}

.basket-full-name {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.main-container {
  flex-grow: 1;
}

.slider {
  margin-bottom: 80px;
}

.slider-slides {
  display: flex;
}

.slide {
  display: flex;
  transform: scale(0.4);
  opacity: 0.4;
}

.slide.is-active {
  display: flex;
  transform: scale(1);
  opacity: 1;
  order: -1;
}

.slide.is-active .slide-content {
  display: block;
}

.slide-content {
  padding: 136px 0 138px 70px;
  display: none;
}

.slide-content-name {
  width: 470px;
  margin: 0 0 24px 0;
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
}

.slide-content-text {
  width: 414px;
  margin: 0 0 48px 0;
  font-size: 18px;
  line-height: 24px;
}

.slider-footer {
  display: flex;
  justify-content: space-between;
}

.main-headlines {
  margin: auto;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
}

.promo {
  margin-bottom: 80px;
}

.promo-headline {
  width: 434px;
  margin-bottom: 55px;
}

.promo-container {
  display: flex;
  justify-content: space-between;
}

.promo-offer {
  display: flex;
  flex-direction: column;
  background-color: #FF7799;
  width: 570px;
  min-height: 268px;
  padding: 36px;
  border-radius: 16px;
}

.offer-raspberry {
  background-image: url("../images/promo/promo-raspberry.png");
  background-repeat: no-repeat;
  background-position: right;
  display: block;
  align-self: flex-end;
}

.offer-marshmallow {
  background-image: url("../images/promo/promo-marshmallow.png");
  background-repeat: no-repeat;
  background-position: right;
  display: block;
  align-self: flex-end;
}

.promo-offer-name {
  max-width: 328px;
  margin: 0 0 28px 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.promo-offer-text {
  width: 328px;
  margin: 0 0 28px 0;
  line-height: 22px;
}

.offer-button {
  align-self: baseline;
}

.popular {
  margin-bottom: 80px;
}

.popular-headline {
  width: 527px;
  margin-bottom: 107px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 91px 30px;
  margin: 0 0 16px 0;
  padding: 0;
  list-style: none;
}

.product-card {
  display: flex;
  flex-direction: column;
  background-color: #FCFCFC;
  width: 100%;
  min-height: 281px;
  padding: 0 40px 28px 40px;
  border-radius: 8px;
}

.price-buy {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.product-card-image {
  border-radius: 50%;
  margin: -25% 0 16px 0;
}

.product-card-link {
  color: #2D3440;
  text-decoration: none;
  text-align: center;
}

.product-card-link p {
  margin: 0 0 16px 0;
}

.product-card-name {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 0 0 8px 0;
  padding: 0;
  text-align: center;
}

.product-card-text {
  padding: 0;
  color: #565C66;
}

.product-card-price {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.product-card-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #FCFCFC;
}

.advantages-wrapper {
  background-image: url("../images/backgrounds/background-waffle.png");
  background-color: #FCFCFC;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 16px;
  margin-bottom: 80px;
  padding: 24px;
}

.advantages-wrapper-white {
  display: flex;
  flex-direction: column;
  background-color: #FCFCFC;
  width: 1122px;
  margin-left: auto;
  margin-right: auto;
  padding: 56px 40px;
  border-radius: 16px;
}

.advantages-headline {
  width: 995px;
  margin-bottom: 56px;
}

.advantages-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.advantages-item {
  width: 505px;
  list-style-type: none;
  margin-bottom: 40px;
  padding-left: 64px;
  background-repeat: no-repeat;
  background-size: 32px 32px;
  background-position: top 8px left 8px;
}

.advantages-item p {
  margin: 0;
}

.advantages-item:nth-child(3),
.advantages-item:nth-child(4) {
  margin-bottom: 0;
}

.advantages-item-text {
  color: #565C66;
}

.advantages-item-ice-cream {
  background-image: url("/images/icons/ice-cream.svg");
}

.advantages-item-cow {
  background-image: url("/images/icons/cow.svg");
}

.advantages-item-leaf {
  background-image: url("/images/icons/leaf.svg");
}

.advantages-item-thermometer {
  background-image: url("/images/icons/thermometer.svg");
}

.news-subscription {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.news {
  display: flex;
  flex-direction: column;
  background-image: url("../images/backgrounds/background-blog.jpg");
  background-color: #FCFCFC;
  background-repeat: no-repeat;
  background-size: 120%;
  background-position: -30px -120px;
  width: 570px;
  padding: 33px 32px 67px 32px;
  border-radius: 16px;
}

.news-name {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  width: 303px;
  margin: 0 0 12px 0;
  color: #565C66;
}

.news-text {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  width: 303px;
  margin: 0;
}

.subscription {
  background-image: url("../images/backgrounds/background-subscription.png");
  background-color: #FCFCFC;
  background-repeat: no-repeat;
  background-size: cover;
  width: 570px;
  padding: 6px;
  border-radius: 16px;
}

.subscription-wrapper {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  width: 558px;
  min-height: 212px;
  margin: 0 auto;
  padding: 26px;
  border-radius: 16px;
}

.subscription-text {
  width: 506px;
  margin: 0 0 42px 0;
  color: #565C66;
}

.subscription input {
  font-family: inherit;
  width: 332px;
  margin: 0 14px 0 0;
  padding: 14px 16px;
  border: 1px solid #B9B9B9;
  border-radius: 4px;
}

.delivery-wrapper {
  display: flex;
  justify-content: space-between;
  background-image: url("../images/backgrounds/background-delivery.jpg");
  background-color: #FCFCFC;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 16px;
  margin-bottom: 80px;
}

.delivery-content {
  display: flex;
  flex-direction: column;
  margin: 167px 0 163px 100px;
}

.delivery-content-name {
  width: 356px;
  margin: 0 0 24px 0;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
}

.delivery-content-text {
  width: 371px;
  margin: 0;
  color: #565C66;
}

.delivery-forms {
  display: flex;
  flex-direction: column;
  background-color: #FCFCFC;
  width: 500px;
  margin: 64px;
  padding: 40px 40px 42px 40px;
  border-radius: 8px;
}

.delivery-forms-text {
  width: 380px;
  margin: 0 0 32px 0;
  color: #565C66;
}

.delivery-form {
  display: grid;
  grid-template-columns: 117px 287px;
  gap: 20px 16px;
}

.delivery-form-address {
  grid-column: 1/-1;
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
}

.delivery-form-date,
.delivery-form-phone {
  display: flex;
  flex-direction: column;
}

.delivery-form .form-label {
  margin-bottom: 8px;
}

.delivery-form input {
  font-family: inherit;
  padding: 14px 16px;
  border: 1px solid #B9B9B9;
  border-radius: 4px;
}

.form-label {
  font-weight: 700;
  line-height: 20px;
}

.form-button {
  grid-column: 1/-1;
  justify-self: center;
}

.contacts-wrapper {
  display: flex;
  justify-content: space-between;
  background-image: url("../images/backgrounds/background-address.jpg");
  background-color: #FCFCFC;
  background-repeat: no-repeat;
  min-height: 492px;
  border-radius: 16px;
  background-size: cover;
  background-position: center;
}

.contacts-wrapper-white {
  background-color: #FCFCFC;
  width: 343px;
  margin: 64px 763px 64px 64px;
  padding: 40px 40px 42px 40px;
  border-radius: 8px;
}

.contacts-name {
  width: 179px;
  margin: 0;
  padding: 0;
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #565C66;
}

.contacts-address p {
  margin: 0 0 24px 0;
  padding: 0;
}

.contacts-address {
  width: 263px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.contacts-name {
  width: 203px;
  margin: 0 0 12px 0;
}

.contacts-phone {
  display: block;
  color: #2D3440;
  text-decoration: none;
  width: 225px;
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.contacts-phone-text {
  width: 160px;
  margin: 0 0 32px 0;
  font-size: 14px;
  line-height: 20px;
  color: #565C66;
}

.contacts-button {
  margin: 32px 0 0 0;
}

.page-footer {
  display: flex;
  margin-top: auto;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  width: 104px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.social-footer {
  margin: 48px 299px 81px 4px;
}

.social-button {
  display: block;
  background-color: #FEAFC3;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid rgba(252, 252, 252, 0.3);
  background-clip: padding-box;
  border-radius: 24px;
  margin: 0 16px 0 0;
  padding: 0;
  width: 24px;
  height: 24px;
}

.social-button-tg {
  background-image: url("/images/social/telegram.svg");
}

.social-button-vk {
  background-image: url("/images/social/vk.svg");
}

.social-button-yt {
  background-image: url("/images/social/youtube.svg");
  margin-right: 0;
}

.footer-link-list {
  display: flex;
  flex-wrap: wrap;
  width: 356px;
  margin: 48px 0 57px 0;
  padding: 0;
  list-style-type: none;
}

.footer-link-item:first-child {
  order: -2;
  margin: 0 24px 8px 0;
}

.footer-link-item:nth-child(2) {
  margin-right: 38px;
}

.footer-link-item:nth-child(3) {
  order: -1;
}

.link-item {
  color: #2D3440;
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
}

.suppliers {
  font-weight: 700;
  background-image: url("/images/icons/heart-fill.svg");
  background-repeat: no-repeat;
  padding-left: 24px;
  margin-left: -24px;
}

.footer-copyright {
  max-width: 195px;
  margin: 48px 14px 48px auto;
}

.footer-copyright-text {
  font-size: 12px;
  line-height: 16px;
  margin: 0;
}

.footer-copyright-link {
  color: #2D3440;
}

.inner-header-name {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  margin: 0 0 40px 0;
  padding: 0;
}

.breadcrumbs-list {
  display: flex;
  margin: 32px 0 16px 0;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-link {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  padding: 0 8px 0 0;
  color: #2D3440;
  text-decoration: none;
}

.breadcrumbs-catalog {
  text-decoration: underline;
}

.breadcrumbs-item {
  padding-right: 20px;
}

.breadcrumbs-item-main {
  background-image: url("/images/icons/chevrons-right.svg");
  background-repeat: no-repeat;
  background-size: 12px 12px;
  background-position: center right 8px;
}

.catalog-products {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.catalog-filter {
  width: 825px;
}

.catalog-filter-name {
  font-size: 14px;
  line-height: 20px;
}

.control {
  font-size: 14px;
  line-height: 20px;
}

.pagination-container {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 126px;
  margin-bottom: 40px;
  padding: 0;
}

.pagination {
  display: flex;
  width: 168px;
  margin: 0;
  padding: 0;
  margin-left: auto;
}

.pagination-item {
  padding: 2px 7px;
  list-style-type: none;
  position: relative;
}

.pagination-link {
  color: #2D3440;
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
}

.pagination-current {
  background-color: #FCFCFC;
  border-radius: 76px;
}

.pagination-button {
  margin: 0 0 0 484px;
}

.pagination-icon {
  position: absolute;
  top: 4px;
  right: 8px;
  bottom: 4px;
  left: 0;
  margin: auto;
  fill: #2D3440;
}
